<div class="component-articlelist">
  <% for(var i=0; i < articlelist.length; i++) { %>
  <div class="list-item">
    <div class="item-link">
      <div class="text">
        <i class="iconfont icon-little-point"></i>
        <i class="iconfont icon-little-circle"></i>
        <a href="http://www.gxcme.edu.cn/news/15629.html" target="_blank">
          学院召开全员大会贯彻落实《深化新时代教育评价改革总体方案》并邀请专家研讨学<%= i %>
        </a>
      </div>
      <span class="date">[09-21]</span>
    </div>
  </div>
  <% } %>
</div>