<div class="component-articlelist">
  {dede:arclist typeid="<%= id %>" row='<%= row %>' col='<%= col %>' orderby="pubdate" titlelen="40"}
  <div class="list-item">
    <div class="item-link">
      <div class="text">
        <i class="iconfont icon-little-point"></i>
        <i class="iconfont icon-little-circle"></i>
        <a href="[field:arcurl /]" target="_blank">
        [field:title/]
        </a>
      </div>
      <span class="date">[[field:pubdate function="MyDate('Y-m-d',@me)"/]]</span>
    </div>
  </div>
  {/dede:arclist}
</div>