<div class="component-contactcard <%= customClass %>">
  <h3 class="title">党委武装部（保卫处）竭诚为您服务！</h3>
  <div class="line"></div>
  <div class="tels">
    <div class="card left">
      <div class="tel">校园警务室值班：0771-3246110</div>
      <div class="tel">保卫处值班：18977093910</div>
      <div class="tel">西湖派出所：0771-3252601</div>
      <div class="tel">保卫处办公室：0771-3248614（工作日）</div>
      <div class="tel">征兵业务咨询：0771-3276441（工作日）</div>
    </div>
    <div class="card right">
      <div class="tel">报警：110</div>
      <div class="tel">火警：119</div>
      <div class="tel">急救：120</div>
    </div>
  </div>
</div>
