<div class="component-friend-links">
  <div class="sub-box">
    <div class="title">友情链接：</div>
    <div class="links">
      <a href="https://www.gfbzb.gov.cn/" class="link-item">全国征兵网</a>
      <a href="http://www.chinafxj.cn/" class="link-item">中国反邪教网</a>
      <a href="http://www.legaldaily.com.cn/" class="link-item">广西政府法制网</a>
      <a href="http://gat.gxzf.gov.cn/" class="link-item">广西壮族自治区公安厅</a>
    </div>
  </div>
</div>