<div class="component-header">
  <div class="inner-header">
    <div class="left">
      <div class="logo">
        <%- require('./logo.ejs')() %>
      </div>
      <div class="name">党委武装部（保卫处）</div>
    </div>
    <div class="right">
      <div class="email-link">
        <a class="link" href="http://www.gxcme.edu.cn/">学院首页</a>
        <a class="email" href="mailto:bwc@gxcme.edu.cn">部门邮箱</a>
      </div>
      <div class="search">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <i class="input-group-text iconfont icon-search"></i>
          </div>
          <input type="text" class="form-control" placeholder="请输入" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>
</div>