<div class="component-img-card box-shadow <%= customClass %>">
  <a href="<%= link %>" style="display: block;">
    <div class="img">
      <img src="http://www.gxcme.edu.cn/g/bwc/img/<%= imgurl %>" alt="pic">
    </div>
    <p class="desc">
      <span><%= title %></span>
    </p>
  </a>
</div>