<div class="component-img-card box-shadow <%= customClass %>">
  <div class="img">
    <img src="./img/logo.gif" alt="pic">
  </div>
  <p class="desc">
    <span>武装保卫党支部组织全体党员学习十九届五中全会精神武装保卫党支部组织全体党员学习十九届五中全会精神武装保卫党支部组织全体党员学习十九届五中全会精神</span>
  </p>
</div>