<div class="component-logo">
  <div class="img">
    <img src="./img/logo.gif" alt="logo">
  </div>
  <div class="title">
    <p class="zh">广西机电职业技术学院</p>
    <p class="en">GUANGXI TECHNOLOGICAL COLLEGE OF MACHINERY AND ELECTRICITY</p>
  </div>
</div>