<div class="nav" id="nav">
  <ul class="nav nav-pills nav-list">
    <li class="nav-item">
      <a class="nav-link active" href="#">部门首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">机构设置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">工作动态</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">服务大厅</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">武装工作</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">政治学习</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">宣传教育</a>
    </li>
  </ul>
</div>