<div class="component-nav" id="nav">
  <ul class="nav nav-pills nav-list">
    <li class="nav-item">
      <a class="nav-link" data-path="/bwc/index" href="/g/bwc/index.html">首页</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-jgsz" href="/bwc/bwc-jgsz.html">机构设置</a> -->
      <a class="nav-link" data-path="/bwc/jigoushezhi" href="/g/bwc/jigoushezhi/">部门概况</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-zcfg" href="/bwc/bwc-zcfg.html">政策法规</a> -->
      <a class="nav-link" data-path="/bwc/zhengcefagui" href="/g/bwc/zhengcefagui/">政策法规</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-gzdt" href="/bwc/bwc-gzdt.html">工作动态</a> -->
      <a class="nav-link" data-path="/bwc/gongzuodongtai" href="/g/bwc/gongzuodongtai/">工作动态</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-path="/bwc/bwc-xfaq" href="/bwc/bwc-xfaq.html">消防安全</a>
      <a class="nav-link" data-path="/bwc/xiaofanganquan" href="/g/bwc/xiaofanganquan/">消防安全</a>
    </li> -->
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-zbgz" href="/bwc/bwc-zbgz.html">征兵工作</a> -->
      <a class="nav-link" data-path="/bwc/zhengbinggongzuo" href="/g/bwc/zhengbinggongzuo/">征兵工作</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-xcjy" href="/bwc/bwc-xcjy.html">宣传教育</a> -->
      <a class="nav-link" data-path="/bwc/xuanchuanjiaoyu" href="/g/bwc/xuanchuanjiaoyu/">宣传教育</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" data-path="/bwc/bwc-fwdt" href="/bwc/bwc-fwdt.html">服务大厅</a> -->
      <a class="nav-link" data-path="/bwc/fuwudating" href="/g/bwc/fuwudating/">服务大厅</a>
    </li>
    <li class="nav-item">  
      <!-- <a class="nav-link" data-path="/bwc/bwc-bgxz" href="/bwc/bwc-bgxz.html">常用下载</a> -->
      <a class="nav-link" data-path="/bwc/changyongbiaoge" href="/g/bwc/changyongbiaoge/">下载中心</a>
    </li>
  </ul>
</div>