<div class="component-subnav">
  <div class="title"><%= title %></div>
  <div class="text-list">
    <% for (var i = 0; i < subitem.length; i++) { %>
      <a href="<%= subitem[i].link %>" data-set="" class="item-nav"><%= subitem[i].name %></a>
    <% } %>
  </div>
</div>