<div class="component-subnav">
  <div class="title"><%= title %></div>
  <div class="text-list">
    <!-- <%= for (var i = 0; i < subitem.length; i++) { %>
      <a href="javascript:;" data-set="123" class="item-nav active">123</a>
    <% } %> -->
    <!-- <a href="javascript:;" class="item-nav">456</a>
    <a href="javascript:;" class="item-nav">789</a> -->
  </div>
</div>