  .footer {
    width: 100%;
    height: 80px;
    padding: 8px 0;
    background-color: $mainColor;
    .right {
      text-align: center;
      p {
        height: 32px;
        line-height: 32px;
        color: $whiteColor;
      }
    }
  }