.component-logo {
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    overflow: hidden;
    height: 80px;
  }
  .img {
    width: 80px;
    height: auto;
    img {
      display: block;
      width: 100%;
    }
  }
  .title {
    height: 80px;
    padding: 10px 0 0 10px;
    color: $grayBGColor;
    .zh {
      font-size: $fontSizeLogo + 10;
      font-weight: 100;
      font-family: "gxcme";
    }
    .en {
      font-size: $fontSizeMini;
      -webkit-transform-origin-x: 0;
      -webkit-transform: scale(0.80);
      font-family: "Microsoft YaHei Light";
    }
  }