<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>保卫处_广西机电职业技术学院_文章</title>
</head>
<body>
  <div class="main-content wenzhang">
    <%- require('../../tamplate/header.ejs')() %>
    <div class="inner-content">
      <%- require('../../tamplate/artical.ejs')() %>
    </div>
    <%- require('../../tamplate/footer.ejs')() %>
  </div>
</body>
</html>